/* ======================== */
/* ===== LAPTOP/TABLET ==== */
/* ======================== */

@media screen and (max-width: 1080px) {
  #AboutSection .about_container_card .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ======================== */
/* ========= MOBILE ======= */
/* ======================== */
@media screen and (max-width: 768px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .button {
    padding: 10px 20px;
    font-size: 18px;
  }

  .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
  }

  .toggle_icon,
  .scroll_down a {
    font-size: 1.6rem;
  }

  .header_title .header_text {
    font-size: 45px;
    text-align: center;
    flex-direction: column;
  }

  .header_title .header_text span {
    padding: 0;
    margin: 0;
    line-height: 0.5;
  }

  .header_title .header_subtext {
    font-size: 24px;
  }

  .header_overlay .header_logo {
    height: 45px;
    top: 20px;
    left: 20px;
  }

  .header_overlay .header_logo a {
    height: 45px;
    font-size: 24px;
  }

  .navbar_item {
    font-size: 1.5rem;
  }

  .socials_list_item .socials_item {
    font-size: 1.5rem;
  }

  .socials_list_item:last-child {
    position: static;
  }

  .back_to_top {
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 20px;
  }

  /* ABOUT */
  #AboutSection .welcome_container_card .container {
    padding: 50px 10px;
    grid-template-columns: 1fr;
  }

  .welcome_card_header .welcome_card_main_text {
    font-size: 24px;
    letter-spacing: 3px;
  }

  .welcome_card_header .welcome_card_sub_text {
    font-size: 46px;
    letter-spacing: 3px;
  }

  .welcome_card_header .welcome_card_body_text {
    font-size: 14px;
    line-height: 1.7;
  }

  .welcome_card_image {
    height: 300px;
  }

  #AboutSection .about_container_card .container {
    padding: 20px 10px;
    grid-template-columns: 1fr;
  }

  #AboutSubTitle,
  #MenuSubTitle,
  #LocateSubTitle,
  #ContactSubtitle {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 5px;
  }

  #AboutTitle,
  #MenuTitle,
  #LocateTitle,
  #ContactTitle {
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 5px;
  }

  /* 
  =============================================================
  =========================== MENU  ===========================
  =============================================================
  */

  /* MENU TITLE */

  .container .menu_title_container {
    min-height: 150px;
  }

  /* MENU FEATURE */

  .menu_feature {
    grid-template-columns: 1fr;
    padding: 20px 10px;
  }

  .menu_feature_image {
    height: 250px;
  }

  .menu_feature_description h5 {
    font-size: 18px;
    font-weight: 600;
  }
  .menu_feature_description h3 {
    font-size: 24px;
  }
  .menu_feature_description p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .menu_feature_price p {
    font-size: 20px;
  }

  /* MENU LIST */

  .menu_list_container {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu_list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .menu_list_image {
    height: 250px;
  }

  .menu_list_wide {
    grid-column: 1;
  }

  .menu_description h5 {
    font-size: 18px;
  }

  .menu_description p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .menu_price {
    font-size: 20px;
  }

  .menu_list:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu_list:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
  }
  .menu_list:nth-of-type(3) {
    grid-column: 1;
    grid-row: 7;
  }
  .menu_list:nth-of-type(4) {
    grid-column: 1;
    grid-row: 6;
  }
  .menu_list:nth-of-type(5) {
    grid-column: 1;
    grid-row: 8;
  }
  .menu_list:nth-of-type(6) {
    grid-column: 1;
    grid-row: 5;
  }
  .menu_list:nth-of-type(7) {
    grid-column: 1;
    grid-row: 4;
  }
  .menu_list:nth-of-type(8) {
    grid-column: 1;
    grid-row: 2;
  }

  /* 
  =============================================================
  ========================= LOCATION  =========================
  =============================================================
  */

  #LocationSection .container {
    padding: 40px 10px;
  }

  #LocateAddress {
    font-size: 16px;
  }

  #LocationSection .container .location_title_container {
    min-height: 200px;
  }

  .location_map_container {
    height: 300px;
    padding: 0;
  }

  /* 
  =============================================================
  ========================= CONTACT  ==========================
  =============================================================
  */

  #ContactSection .container {
    padding: 20px 10px 40px;
  }

  #ContactSection .container .contact_title_container {
    min-height: 200px;
  }

  .message_title {
    font-size: 20px;
  }

  .message_form {
    grid-template-columns: 1fr;
  }

  .textarea_group {
    grid-column: 1;
    grid-row: 4;
  }

  .submit_container {
    grid-column: 1;
    grid-row: 5;
  }

  .input_group label,
  .textarea_group label {
    font-size: 0.9rem;
  }

  .input_group input,
  .textarea_group textarea {
    font-size: 0.9rem;
  }

  .submit_container .button span {
    font-size: 0.9rem;
  }

  .contact_information_container {
    padding: 40px 10px;
    grid-template-columns: 1fr;
  }

  .contact_information h4 {
    font-size: 18px;
  }

  .contact_information p {
    font-size: 0.9rem;
  }

  /* 
  =============================================================
  ========================= FOOTER  ===========================
  =============================================================
  */

  #FooterSection .container {
    padding: 50px 10px 10px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer_logo h1 {
    font-size: 24px;
  }

  .footer_socials_list_item {
    padding-left: 0;
  }

  .footer_socials_item {
    font-size: 1.3rem;
  }

  .copyright {
    grid-column: 1;
  }
}
