/* ======================== */
/* ===== LAPTOP/TABLET ==== */
/* ======================== */

@media screen and (max-width: 1080px) {
  #AboutSection .about_container_card .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ======================== */
/* ========= MOBILE ======= */
/* ======================== */
@media screen and (max-width: 768px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .button {
    padding: 10px 20px;
    font-size: 18px;
  }

  .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
  }

  .toggle_icon,
  .scroll_down a {
    font-size: 1.6rem;
  }

  .header_title .header_text {
    font-size: 45px;
    text-align: center;
    flex-direction: column;
  }

  .header_title .header_text span {
    padding: 0;
    margin: 0;
    line-height: 0.5;
  }

  .header_title .header_subtext {
    font-size: 24px;
  }

  .header_overlay .header_logo {
    height: 45px;
    top: 20px;
    left: 20px;
  }

  .header_overlay .header_logo a {
    height: 45px;
    font-size: 24px;
  }

  .navbar_item {
    font-size: 1.5rem;
  }

  .socials_list_item .socials_item {
    font-size: 1.5rem;
  }

  .socials_list_item:last-child {
    position: static;
  }

  .back_to_top {
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 20px;
  }

  /* ABOUT */
  #AboutSection .welcome_container_card .container {
    padding: 50px 10px;
    grid-template-columns: 1fr;
  }

  .welcome_card_header .welcome_card_main_text {
    font-size: 24px;
    letter-spacing: 3px;
  }

  .welcome_card_header .welcome_card_sub_text {
    font-size: 46px;
    letter-spacing: 3px;
  }

  .welcome_card_header .welcome_card_body_text {
    font-size: 14px;
    line-height: 1.7;
  }

  .welcome_card_image {
    height: 300px;
  }

  #AboutSection .about_container_card .container {
    padding: 20px 10px;
    grid-template-columns: 1fr;
  }

  #AboutSubTitle,
  #MenuSubTitle {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
  }

  #AboutTitle,
  #MenuTitle {
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 5px;
  }

  /* MENU */

  .container .menu_title_container {
    min-height: 150px;
  }

  .menu_list_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu_list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .menu_list_wide {
    grid-column: 1;
  }

  .menu_description h5 {
    font-size: 18px;
  }

  .menu_description p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .menu_price {
    font-size: 20px;
  }

  .menu_list:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu_list:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
  }
  .menu_list:nth-of-type(3) {
    grid-column: 1;
    grid-row: 7;
  }
  .menu_list:nth-of-type(4) {
    grid-column: 1;
    grid-row: 6;
  }
  .menu_list:nth-of-type(5) {
    grid-column: 1;
    grid-row: 8;
  }
  .menu_list:nth-of-type(6) {
    grid-column: 1;
    grid-row: 5;
  }
  .menu_list:nth-of-type(7) {
    grid-column: 1;
    grid-row: 4;
  }
  .menu_list:nth-of-type(8) {
    grid-column: 1;
    grid-row: 2;
  }
}
